/vendor
/node_modules
npm-debug.log
yarn-error.log
# Laravel 5 & Lumen specific
/public/storage
/public/hot
/storage/*.key
/storage/framework/laravel-excel
.env
database.sqlite
Homestead.yaml
Homestead.json

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/

# IDE
.idea
.vscode
